page-tabs{

}
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
    color: #fff;
}
.tabs-md .tabbar{
    background: #1f1f1f;
}
.tabs-md .tab-button[aria-selected="true"] {
    color: #fff;}