page-home {
  .content{
    background-color: #f4f4f7;
  }
  
  .toolbar-icon {
    color: #FFF;
    font-weight: bold;
  }
}

.card-md {

  border-radius: 50px !important;
}

.content-md{
  background-color: #f8f8f8 !important;
}